.-Testimonials {
    margin-top: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.TestimonialsIcons {
    width: clamp(200px, 100%, 1050px);
    justify-content: space-between;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
}

.Left_T {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.Left_T h3 {
    color: var(--colour-1, #4361EE);

    font-family: Poppins;
    font-size: clamp(15px, 5vw, 19.4px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.91px;
}

.Left_T h2 {
    color: var(--text-colour-2, #2B2B2B);

    /* H2 - Semi Bold */
    font-family: Poppins;
    font-size: clamp(25px, 5vw, 39.8px);
    font-style: normal;
    font-weight: 600;
    /* 118.09% */
}

.Left_T p {
    width: clamp(200px, 100%, 300px);
    color: var(--text-colour-2, #2B2B2B);

    /* Paragraph - Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.buttonClick {
    margin-top: 30px;
    display: flex;
    column-gap: 50px;
}

.buttonClick button {
    width: 50px;
    height: 50px;
    border: 1px solid #4361EE;
    color: #4361EE;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.Right_T {
    width: clamp(200px, 100%, 500px);
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.10);
    padding-top: 34px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 28px;
}


.Right_T hr {
    background: #D4D4D4;
    margin-top: 40px;
}

.Right_T p {
    color: var(--text-colour-2, #2B2B2B);

    /* H4 - Medium */
    font-family: Poppins;
    font-size: clamp(15px, 5vw, 19.4px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Right-UserData {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.Right-UserData img {
    width: 50px;
    height: 50%;
    border-radius: 50%;
}

.Right-UserData h2 {
    color: var(--text-colour-2, #2B2B2B);

    /* H4 - Semibold */
    font-family: Poppins;
    font-size: 19.4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.Star {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.Star .fa {
    color: #FFC700;
}

.starO {
    color: gray;
}

@media screen and (max-width:388px) {
    .-Testimonials {
        margin-top: 100px;
    }

    .Left_T {
        row-gap: 10px;
    }

    .Right_T {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .Right_T svg {
        width: 40px;
    }

    .Right_T img {
        width: 30px;
        height: 30px;
    }

    .Right_T h3 {
        font-size: 14px;
    }

    .Star {
        margin-left: 10px;
    }

}
