:root {
  --backgroundHome: #3A0CA3;
  --h3Color: #7088F2;
  --pColior: #9A9D9F;
  --ulMenu: #C7D0FA
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  list-style: none;
  cursor: pointer;
}

select {
  list-style: none;
  cursor: pointer;
}