.-OurTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}

.-OurTeam h3 {
    color: var(--colour-1, #4361EE);
    text-align: center;

    font-family: Poppins;
    font-size: 19.4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.91px;
    text-transform: uppercase;
}

.-OurTeam h2 {
    color: var(--text-colour-2, #2B2B2B);
    text-align: center;

    /* H2 - Semi Bold */
    font-family: Poppins;
    font-size: clamp(30px, 5vw, 39.8px);
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    /* 118.09% */
    margin-top: 30px;
}

.OurTeams {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 100px;
}

.ServiceUser {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.ServiceUser h4 {
    color: var(--text-colour-1, #0B090A);
    text-align: center;


    /* H3 - Semibold */
    font-family: Poppins;
    font-size: clamp(20px, 5vw, 27.6px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ServiceUser h5 {
    color: var(--colour-1, #4361EE);
    text-align: center;

    /* H5 - Buttons */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width:700px) {
    .-OurTeam {
        margin-top: 100px;
    }

    .-OurTeam h2 {
        margin-top: 10px;
    }

    .OurTeams {
        margin-top: 50px;
    }

    .ServiceUser img {
        width: 200px;
        height: 250px;
    }

    .ServiceUser {
        row-gap: 10px;
    }
}